.card {
  background-color: #abc9;
  width: 30rem;
  padding: 5px 14px;
  border-radius: 8px;
  margin: 0 auto;
}

.card input {
  outline: none;
  border: none;
  padding: 8px 5px;
  margin: 0 4px 0 0;
}

.heading {
  text-align: center;
}

.btn {
  padding: 6px 18px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
}

.btnGroup {
  display: flex;

  gap: 5px;
}
